<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetFoodOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetFoodOrder.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="position-sticky top-0 text-white ">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-white">
            <div class="container-fluid">
                <a class="text-pink navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">FoodOrder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="text-pink nav-link fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-pink nav-link fw-bold" asp-area="">Recipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-pink nav-link fw-bold" asp-area="">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-pink nav-link fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    
                    @if (!User.Identity.IsAuthenticated)
                    {
                     
                        <div>
                            <a class="nav-link fw-bold text-pink" asp-controller="Account" asp-action="Login">LogIn</a>
                        </div>


                    }
                    else
                    {
                        <div>
                            <a class="nav-link fw-bold text-pink" asp-controller="Account" asp-action="LogOut">LogOut</a>
                        </div>
                     
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-white">
        <div class="container mt-2">
            <div class="row">
               <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <h4>Food Application</h4>
                   <p>Healthy , Save and Fastest Food and Delivery</p>
               </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                   <h4> Contact TUNISIE</h4>
                   <div class="mt-3">
                        <span><i class="fa-solid fa-phone fs-4"></i></span>
                        <span class="fs-5 mx-1">+216 24 471 349</span>
                   </div>
                    <div class="mb-2">
                        <span><i class="fa-brands fa-instagram fs-4"></i> </span>
                        <span class="fs-5 mx-1">FoodOrder</span>
                    </div>
                        <div class="mb-2">
                        <span><i class="fa-brands fa-facebook fs-4"></i> </span>
                        <span class="fs-5 mx-1">FoodOrder</span>
                    </div>
                        <div class="mb-2">
                        <span><i class="fa-brands fa-whatsapp fs-4"></i></span>
                        <span class="fs-5 mx-1">+216 24 471 349</span>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h4>Adress</h4>
                    <pre>Street Taher Ben achour Taffela,Sousse</pre>
                </div>
            </div>
            <div>
                <h4 class="text-center">By Chema Bejjar 2024</h4>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
