html {
  font-size: 14px;
 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: whitesmoke;
}

.text-pink{
    color:white !important;
}
.nav-link {
    letter-spacing: 2px;
}
.carouselExampleSlidesOnly{
    height:80px !important;
}
.carousel-item {
    height: 550px; /* Ajuste la hauteur ici */
    object-fit: cover;
}
footer{
    background-color:#0d243d;
   
}
header {
    z-index: 1000;
}
.dishCard{
    height:250px;
}
.navbar {
    background-color: #0d243d !important;
   
}

.fa-instagram {
    color: #bc2a8d;
}

.fa-whatsapp {
    color: #128C7E;
}
.fa-facebook {
    color: #3b5998;
}

.fa-phone{
    color: #EA4335;
}

#Recipename {
    color: #EA4335;
    font-weight: bold;
    font-style:italic;
}

#recipe-list {
    top: 5rem;
}
#recipe-list ::-webkit-scrollbar{
    width:10px;
}
#recipe-list ::-webkit-scrollbar-track{
    background-color: #ffffff;
}

#recipe-list ::-webkit-scrollbar-thumb {
        background-color: #ff1448;
        border-radius:10px;

}

.recipe-item:hover{
    background-color: #0d243d;
    border-radius: 10px;
}

.recipe-item:hover a {
    color: #ffffff !important ;
    
}
